
/* smooth anchor hover transition */
a {
    transition: color 0.3s ease-in-out;
}

/* space out tight tracking */
.tracking-tight {
    letter-spacing: .025em;
}

/* increase content area max-width */
@media (min-width: 1536px) {
    .\32xl\:max-w-2xl {
        max-width: 65.5rem;
    }
}